/*
* Copyright (c) 2020 The ZMK Contributors
*
* SPDX-License-Identifier: MIT
*/

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>

#define MAIN 0
#define SYM 1
#define NAV 2
#define KBD 3

/ {

  // Activate KBD layer by holding both SYM and NAV
  conditional_layers {
    compatible = "zmk,conditional-layers";
    kbd_layer {
      if-layers = <SYM NAV>;
      then-layer = <KBD>;
    };
  };

  keymap {
    compatible = "zmk,keymap";

    main_layer {
      display-name = "MAIN";
      // ------------------------------------------------------------------------------------------------------------
      // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   =   |
      // |  ESC  |  B  |  L  |  D   |  W   |  Z   |                   |  '   |  F    |  O    |  U   |   J   |   /   |
      // |  TAB  |  N  |  R  |  T   |  S   |  G   |                   |  Y   |  H    |  A    |  E   |   I   |   -   |
      // | SHIFT |  Q  |  X  |  M   |  C   |  V   |  CAPS  |  |  DEL  |  K   |  P    |  .    |  ;   |   ,   | SHIFT |
      //               | CTRL| ALT  | GUI  |  NAV |  ENTER |  | SPACE |  SYM | BKSPC | GUI   | CTRL |
      bindings = <
        &kp GRAVE &kp N1 &kp N2   &kp N3   &kp N4    &kp N5                           &kp N6 &kp N7    &kp N8    &kp N9   &kp N0   &kp EQUAL
        &kp ESC   &kp B  &kp L    &kp D    &kp W     &kp Z                            &kp SQT &kp F    &kp O     &kp U    &kp J    &kp FSLH
        &kp TAB   &kp N  &kp R    &kp T    &kp S     &kp G                            &kp Y  &kp H     &kp A     &kp E    &kp I    &kp MINUS
        &kp LSHFT &kp Q  &kp X    &kp M    &kp C     &kp V   &kp CLCK   &kp DEL       &kp K  &kp P     &kp DOT  &kp SEMI &kp COMMA &kp RSHFT
        &kp LCTRL &kp LALT &kp LGUI &mo NAV    &kp RET    &kp SPACE  &mo SYM    &kp BSPC &kp RGUI  &kp RCTRL
      >;

      sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp C_PREV C_NEXT>;
    };

    sym_layer {
      display-name = "SYM";
      // Numpad on the left hand, cross-hand from the right thumb that holds it.
      // Shift over the digits gives ! @ # $ % ^ & * ( ) so they need no slots.
      // Rows 2-4 are the 3x6 block a Corne also has; row 1 is Sofle-only.
      // ------------------------------------------------------------------------------------------------------------
      // |       |     |      |      |      |      |                   |      |       |       |      |       |       |
      // |       |     |  7   |  8   |  9   |      |                   |      |  F1   |  F2   |  F3  |  F4   |       |
      // |       |  `  |  4   |  5   |  6   |      |                   |      |  F5   |  F6   |  F7  |  F8   |       |
      // |       |  \  |  1   |  2   |  3   |  0   |        |  |       |      |  F9   |  F10  |  F11 |  F12  |       |
      //               |      |      |      |      |        |  |       |      |       |       |      |
      bindings = <
        &trans    &trans    &trans    &trans    &trans    &trans                    &trans    &trans    &trans    &trans    &trans    &trans
        &trans    &trans    &kp N7    &kp N8    &kp N9    &trans                    &trans    &kp F1    &kp F2    &kp F3    &kp F4    &trans
        &trans    &kp GRAVE &kp N4    &kp N5    &kp N6    &trans                    &trans    &kp F5    &kp F6    &kp F7    &kp F8    &trans
        &trans    &kp BSLH  &kp N1    &kp N2    &kp N3    &kp N0    &trans &trans   &trans    &kp F9    &kp F10   &kp F11   &kp F12   &trans
        &trans    &trans    &trans    &trans    &trans    &trans    &trans &trans   &trans    &trans
      >;

      sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp C_PREV C_NEXT>;
    };

    nav_layer {
      display-name = "NAV";
      // Left hand is everything you need while the right hand is on the mouse:
      // arrows, paging, clipboard, and the undo family stacked on the pinky.
      // Right hand is paired symbols, cross-hand from the left thumb that
      // holds the layer. Brackets sit on index and middle, opening always left.
      // ------------------------------------------------------------------------------------------------------------
      // |       |      |      |       |       |      |                |      |      |       |      |       |       |
      // |       |      | HOME |   ^   |  END  | PGUP |                |      |  {   |   }   |  +   |   -   |       |
      // |       | SALL |  <-  |   v   |  ->   | PGDN |                |      |  (   |   )   |  =   |   _   |       |
      // | REDO  | UNDO | CUT  | COPY  | PASTE |      | MUTE |  | P/P  |      |  [   |   ]   |  <   |   >   |       |
      //                |      |       |       |      |      |  |      |      |      |       |      |
      bindings = <
        &trans     &trans       &trans       &trans       &trans       &trans                            &trans    &trans    &trans    &trans     &trans     &trans
        &trans     &trans       &kp HOME     &kp UP       &kp END      &kp PG_UP                         &trans    &kp LBRC  &kp RBRC  &kp PLUS   &kp MINUS  &trans
        &trans     &kp LG(A)    &kp LEFT     &kp DOWN     &kp RIGHT    &kp PG_DN                         &trans    &kp LPAR  &kp RPAR  &kp EQUAL  &kp UNDER  &trans
        &kp LS(LG(Z)) &kp LG(Z) &kp LG(X)    &kp LG(C)    &kp LG(V)    &trans          &kp C_MUTE &kp C_PP   &trans    &kp LBKT  &kp RBKT  &kp LT     &kp GT     &trans
                                &trans       &trans       &trans       &trans          &trans  &trans    &trans    &trans    &trans    &trans
      >;

      sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp C_PREV C_NEXT>;
    };

    kbd_layer {
      // ----------------------------------------------------------------------------------------------------------------------------
      // | BTCLR  |  BT1    |  BT2    |   BT3   |   BT4   |   BT5   |                  |      |      |       |      |       |       |
      // | EP_OFF |         |         |         |         |         |                  |      |      |       |      |       |       |
      // |        |         |         |         |         |         |                  |      |      |       |      |       |       |
      // |        |         |         |         |         |         | STUDIO  | |      |      |      |       |      |       |       |
      //                    |         |         |         |         |         | |      |      |      |       |      |
      display-name = "KBD";
      bindings = <
        &bt BT_CLR        &bt BT_SEL 0    &bt BT_SEL 1    &bt BT_SEL 2    &bt BT_SEL 3    &bt BT_SEL 4                            &none &none &none &none &none &none
        &ext_power EP_OFF &none           &none           &none           &none           &none                               &none &none &none &none &none &none
        &none             &none           &none           &none           &none           &none                                   &none &none &none &none &none &none
        &none             &none           &none           &none           &none           &none            &studio_unlock  &none  &none &none &none &none &none &none
        &none           &none           &none           &none            &none           &none  &none &none &none &none
      >;
    };
  };
};
